*{
    margin: 0%;
    margin-top: auto;
    padding:10px;
}

body{
    background-color: rgba(129, 5, 88, 0.466);
    color: aliceblue;
}

#contenedor{
    background-color: rgba(129, 5, 88, 0.938);
    border-radius: 100px;
}

#menu{
    background-color: rgba(129, 5, 88, 0.685);
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}