*{
    margin: 10px;
}

body{
    background-color: rgba(153, 78, 51, 0.315);
    color: rgba(153, 78, 51, 0.918);
}

button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 5px;
    background-color: rgba(153, 78, 51, 0.315);
    font-size: 15px;
    color: rgb(153, 78, 51);

}

.card{
   box-shadow: 0 4px 8px rgba(153, 78, 51, 0.856);
   overflow: hidden;
   max-width: 400px;
   margin: 20px;
   text-align: center;
   border-radius: 5px;
   background-color: rgba(153, 78, 51, 0.103);
   color:rgba(153, 78, 51, 0.918);
   font-size: 20px;
   border-color:2px rgba(107, 39, 14, 0.918);
}