*{
    margin: 0;
    padding: 10px;
}

body{
    background-color: black;
    color: aliceblue;
}

button{
    background-color: rgb(11, 53, 90);
    color: rgb(250, 243, 243);
}

.section{
    padding: 50px;
    height: 150px;
    width: 200px;
    background-color:rgba(87, 136, 228, 0.774);
    border-radius: 5px;
}

.section2{
    padding: 50px;
    height: 200px;
    width: 200px;
    background-color:rgba(87, 136, 228, 0.774);
    border-radius: 5px;

}

